footer {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem 2rem;
  background-color: grey;
  /*background-color: #30D5C8;*/
  text-align: center;
}

footer p {
  font-style: italic;
  content: "© 2024 Cure Connect™";
  color: aliceblue;
}

.image-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon{
  width: 40px; /* set the width of each container */
  height: 40px; /* set the height of each container */
  display: flex;
  margin: 0 10px;
  border-radius: 50%; /*add a rounded border */
  background-color: #fff; /*add a background color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* optional: add a box shadow */
}